.header {

    // background-attachment: scroll;
    color: #fff;
    font-size: 14px;
 

    &__main{
        position: fixed;
        background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
        left: 0;
        top: 0; 
        right: 0;
        display: flex; 
        
        height: 70px;
        // background-color: black;
        z-index: 999;
        transition: 0.5s;

        &__scroll{
            position: fixed;
        background-color: black;
        left: 0;
        top: 0; 
        right: 0;
        display: flex; 
        height: 70px;
        // background-color: black;
        z-index: 999;
        transition: 0.5s;
        
        }
        
        
        
       
    }
    &__logo {
        img {
            width: 120px;
            margin-left: 38px;
        }
    }
    
    &__nav {

       
        .navigation_right{
            display: flex;
            align-items: center;
            box-align: center;
            list-style: none;
            flex-grow: 1;
            position: absolute;
            right: 4%;
            margin-top: 20px;
            top: 0;


            .search_icon{
                padding-top: 4px;
            }

            

           
        }
        
        
        
        
        .nav {
            
           
            
           
            &__list {
                display: flex;
                position: relative;
                list-style: none;
                margin-left: -10px;
                vertical-align: middle;
                padding-top: 7px;
                
                
                
            }
            &__item {
                margin: 0px 10px;
                
                
                

  
            }
            &__link {
                vertical-align: middle;
               
              font-weight: bold;
              text-decoration: none;
              color: white;    
            }
            
            &__icon{
                font-size: 20px;
                
            }

           
        }
       
    }
}

.header_films{
    position: fixed;
    background: linear-gradient( transparent 0%, rgba(20,20,20, .0) 100%);
    z-index: 999;
    height: 70px;
    top: 8%;
    left: 0;
    right: 0;

    &__scroll{
    position: fixed;
    background-color: black;
    left: 0;
    top: 0; 
    right: 0;
    display: flex; 
    height: 70px;
    // background-color: black;
    z-index: 999;
    transition: 0.5s;
    }

    &__ul{
        display: flex;
        list-style: none;
        margin-left: 0px;
    }

    &__title{
        color: white;
        font-size: 36px;
        font-weight: bold;
    }

    &__genres{
        margin-top: 10px;
        margin-left: 30px;
        width: 120px;
        height: 24px;
        background-color: black;
        border:solid 1px;
        border-color: white;
        font-size: medium;
        color: white;

        &::placeholder{
            color: white;
            font-weight: bold;
            padding-left: 10px;
        }


    }
}


