.home_movie{

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    iframe, img{
        position: absolute;
        background-position: center center;
        left: 0px;
        top: 0; 
        right: 0;
        height: 1080px;
        transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
        
    }


    .home_text{
        position: absolute;
        left: 6%;
        top: 300px;
        color: white;
         
    }

    
    h1{
        color: white;
        font-size: 50px;
    }

    p{
        width: 30%; 
        color: white;
        font-size: 30px;
    } 

    }

    .btn_home{

        
        button{
            border-radius:7px;
            border: none;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            height: 65px;
            
            


            ion-icon{
                font-size: 40px;
                margin-left: -15px;
                padding-right: 8px;

            }
        }

        .btn_white{
            background-color: white;
            width: 10%;
            
            
            
        }
        .btn_grey{
            background-color: grey;
            margin-left: 20px;
            width: 12%;
            
            color: white;
        }
        
    }

    .movieRow {
        margin-bottom: 30px;
        position: relative;
        margin-top: 1100px;
        overflow-y: auto;
        overflow: hidden;
        
        // top: 500px;
    }
    
    .movieRow--listarea {
        overflow: hidden;
        padding-left: 30px;
        
    }
    .movieRow--list {
        width: 99999999px;
        transition: all ease 0.5s;
    }
    .movieRow--item {
        position: relative;
        display: inline-block;
        width: 320px;
        height: 200px;

        cursor: pointer;
        
    }
    .movieRow--item img {
        width: 110%;
        height: 200px;
        border-radius: 6px;
        transform: scale(0.9);
        transition: all ease 0.5s;
       
        
    }
    .movieRow--item img:focus,
    .movieRow--item img:hover {
        transform: translate3d(0px, -40px, 0);
        height: 240px;
        position: relative;
        transition-delay: 200ms;
        z-index: 99999;
       
        
    }

    
    .movieRow--left,
    .movieRow--right {
        position: absolute;
        width: 40px;
        margin-top: 25px;
        height: 130px;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        opacity: 0;
        transition: all ease 0.5s;
    }
    .movieRow--left {
        left: 0;
    }
    .movieRow--right {
        right: 0;
    }
    .movieRow:hover .movieRow--left, 
    .movieRow:hover .movieRow--right{
        opacity: 1;
    }
    
    @media (max-width: 760px) {
        .movieRow--left,
        .movieRow--right {
            opacity: 1;
        }
    }

    .poster__title{
        color: white;
        margin-left: 46px;
    }

    .under_square{
        background-color: grey;
        position: relative;
        width: 320px;
        height: 400px;
        z-index: 400;
        
    }