$primaryColor: red;
$secondaryColor: white;
$appColor: #141414;



html, body {
    // max-width: 100%;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    background-color: $appColor;
}

